.header{
    background: #333;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    box-shadow: 1px 3px 3px 4px grey;
    text-shadow: 1px 3px 0 blue;
}

.header A{
    color: #fff;
    text-decoration: none;
}

.simple_nav{
    margin-top: 5px;
    font-size: 14px; 
    font-weight: normal;
}