.todo{
    width: 50%;
    margin: 0 auto;
    background: lightgrey;
    padding: 9px 5px;
    border: solid 1px grey;
    border-radius: 5px;
    text-align: left;
}


.btn_del{
    background: red; 
    color: white; 
    font-weight: bold;
    border-radius: 50%;
    border: 0;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
    float: right;
    box-shadow: 0px 2px 4px 1px grey;
}

.is_completed{
    text-decoration: line-through;
}

.tbl_tbl{
    display: table;
    width: 100%;
}

.tbl_cell{
    display: table-cell;
}

.tbl_cell:nth-child(2){
    width: 100%;
}

@media only screen and (max-width: 600px) {    
    .todo{
        width: 90%;
    }
}