.form{
    width: 50%;
    margin: 0 auto 15px auto;
    display: grid;
    grid-template-columns:auto 60px;
    box-sizing: border-box;
    column-gap: 9px;
}
/* 
.form input[type='text']{
    flex: 10;
    padding: 5px;
}

.form input[type='text']{
    flex: 2;
} 
*/

.left_f{
    width: auto;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 5px 3px;
    box-shadow: inset 1px 1px 10px lightgrey;
    box-sizing: border-box;
}
.right_f{
    width: auto;    
    border: solid 1px grey;
    border-radius: 5px;
    padding: 5px 3px;
    /* margin-left: 4px; */
    cursor: pointer;
    box-shadow: 3px 3px 5px lightgrey;
    transition: all 0.3s;
    box-sizing: border-box;
}

.right_f:hover{
    box-shadow: 1px 1px 3px grey;
} 

@media only screen and (max-width: 600px) {
    .form{
        width: 90%;
        display: table;
    }

    .left_f, .right_f {
        width: 100% !important;
        clear: both;
        margin: 5px 0;
    }
    /* 
    .left_f::after, .right_f::after {
        content: "";
        clear: both;
        display: table;
      } */
}