.form{
    width: 50%;
    margin: 0 auto 15px auto;
    /* display: flex; */
}
/* 
.form input[type='text']{
    flex: 10;
    padding: 5px;
}

.form input[type='text']{
    flex: 2;
} 
*/

.left_f{
    width: 70%;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 5px 3px;
    box-shadow: inset 1px 1px 10px lightgrey;
}
.right_f{
    width: 27%;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 5px 3px;
    margin-left: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 5px lightgrey;
    transition: all 0.3s;
}

.right_f:hover{
    box-shadow: 1px 1px 3px grey;
} 